.desktopHeader{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;

    font-size: 1.5rem;
}

.desktopHeader ul{
    height: 100%;

    display: flex;
    align-items: center;
}

.desktopHeader ul li{
    width: 100px;
    height: auto;

    display: flex;
    justify-content: center;
}

.desktopHeader ul li:hover{
    opacity: .6;
    cursor: pointer;
}

