.header {
    width: 100%;
    height: 10vh;

    padding: 1rem;

    display: flex;
    flex-direction: row;

    position: fixed;

    font-size: 1.5rem;

    font-family: LatoLight;

    z-index: 98;
}

.header__logo {
    height: 100%;
    width: 40%;

    display: flex;
    align-items: center;
}

.header__mobile {
    width: 60%;
    height: 100%;
}

.header__desktop{
    width: 60%;
    height: 100%;
}

@media screen and (min-width: 1024px) {
    .header__mobile {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .header__desktop {
        display: none;
    }
}

@media screen and (min-width: 550px) {
    .header {
        height: 125px;

        font-size: 2rem;
    }
}